.footer {
  display: grid;
  place-items: center;
  position: relative;
  padding: 5rem 1rem;
  color: var(--text-secondary);
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-color: var(--bc-secondary-dark);
    opacity: 0.9;
    z-index: -1;
  }

  &::after {
    background-image: url(@/assets/img/FLADENI-1704.jpg);
    opacity: 0.1;
    z-index: -2;
  }

  &-container {
    width: 100%;
    max-width: 1200px;
  }

  &-top {
    display: flex;
    padding-bottom: 5rem;
    justify-content: space-between;
  }

  & h3 {
    margin-bottom: 2rem;
  }

  &-company {
    width: 40%;
  }

  &-brand {
    margin-bottom: 3rem;
  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-highlights {
    width: 33%;

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3%;
      row-gap: 1rem;
    }
  }

  &-highlight {
    width: 30%;
    height: 7rem;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fz-ts);
    color: var(--text-secondary);
    padding-top: 1rem;
    border-top: 1px solid var(--bc-highlight);

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & h3 {
        margin-bottom: 0 !important;
      }
      & svg {
        width: 1rem;
      }
      & svg:hover {
        fill: var(--bc-highlight);
      }
    }
  }
}

// MEDIA QUERIES
@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-inline: 2rem;

    &-top,
    &-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 5rem;
    }

    &-company,
    &-highlights {
      width: 100%;
    }

    &-highlight {
      height: 10rem;
    }

    &-copyright {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
